
@model IEnumerable<MVCDemo.Models.Friend>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FriendID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FriendName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FriendID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FriendName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FriendID">Edit</a> |
                    
                    <a asp-action="Delete" asp-route-id="@item.FriendID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>